@media screen and (min-width: 360px) {
  html h1 {
    padding-bottom: 8%;
    padding-top: 8%; }
    html h1 img {
      margin-top: -5px;
      right: 10px; }

  a.sound span {
    font-size: 15px; }

  div.footer {
    height: 5%; } }
@media screen and (min-width: 768px) {
  html h1 {
    font-size: 40px;
    padding-bottom: 7%;
    padding-top: 7%; }
    html h1 img {
      margin-top: -50px;
      right: 10px; }

  a.sound {
    width: 20%;
    padding-bottom: 20%; } }
@media screen and (min-width: 980px) {
  html h1 img {
    margin-top: -80px; }

  a.sound {
    width: 10%;
    padding-bottom: 10%; } }
@media screen and (min-width: 1280px) {
  html h1 img {
    margin-top: -85px;
    max-width: 50%; } }
@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans/FiraSans-Regular.eot");
  src: url("../fnt/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Regular.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans-Light.eot");
  src: url("../fnt/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Light.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans-Medium.eot");
  src: url("../fnt/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Medium.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans-Bold.eot");
  src: url("../fnt/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Bold.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  100% {
    -webkit-transform: translateY(700px);
    opacity: 0; } }

@-moz-keyframes hinge {
  0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  80% {
    -moz-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  100% {
    -moz-transform: translateY(700px);
    opacity: 0; } }

@-ms-keyframes hinge {
  0% {
    -ms-transform: rotate(0);
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  20%, 60% {
    -ms-transform: rotate(80deg);
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  40% {
    -ms-transform: rotate(60deg);
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  80% {
    -ms-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  100% {
    -ms-transform: translateY(700px);
    opacity: 0; } }

@-o-keyframes hinge {
  0% {
    -o-transform: rotate(0);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  20%, 60% {
    -o-transform: rotate(80deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  40% {
    -o-transform: rotate(60deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  80% {
    -o-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  100% {
    -o-transform: translateY(700px);
    opacity: 0; } }

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  100% {
    transform: translateY(700px);
    opacity: 0; } }

.hinge {
  -webkit-animation-name: hinge;
  -moz-animation-name: hinge;
  -ms-animation-name: hinge;
  -o-animation-name: hinge;
  animation-name: hinge; }

.c {
  zoom: 1; }
  .c:before, .c:after {
    content: "";
    display: table; }
  .c:after {
    clear: both; }

.c {
  zoom: 1; }
  .c:before, .c:after {
    content: "";
    display: table; }
  .c:after {
    clear: both; }

body {
  background: #f0e5e0;
  color: #1d1e1f;
  font-family: 'FiraSans';
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto;
  max-height: 100%; }

html body .hidden {
  display: none; }

h1 {
  -webkit-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -ms-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -o-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  background-color: #2581ad;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#329fd3), to(#2581ad));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #329fd3, #2581ad);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #329fd3, #2581ad);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #329fd3, #2581ad);
  /* IE10 */
  background-image: -o-linear-gradient(top, #329fd3, #2581ad);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #329fd3, #2581ad);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#329fd3', EndColorStr='#2581ad');
  color: #fafafa;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 2% 0 2% 5%;
  position: relative;
  text-align: center; }
  h1 .heading {
    display: inline-block;
    font-size: 16px;
    line-height: 12px;
    margin: 0 auto;
    text-align: center; }
    h1 .heading p {
      text-transform: uppercase; }

.sound {
  -webkit-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  -ms-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  -o-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  background: #f0e5e0;
  border: -1px solid #d5d7d8;
  display: inline-block;
  float: left;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  position: relative;
  text-align: center; }
  .sound:hover {
    cursor: pointer; }
  .sound.ng-click-active, .sound.clicked {
    background: #fc8f2a; }
  .sound span {
    font-size: 13px;
    left: 0;
    right: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%; }

.footer {
  -webkit-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -ms-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -o-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  background-color: #2581ad;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#329fd3), to(#2581ad));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #329fd3, #2581ad);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #329fd3, #2581ad);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #329fd3, #2581ad);
  /* IE10 */
  background-image: -o-linear-gradient(top, #329fd3, #2581ad);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #329fd3, #2581ad);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#329fd3', EndColorStr='#2581ad');
  bottom: 0;
  height: 2%;
  left: 0;
  position: fixed;
  width: 100%; }
