@media screen and (min-width: 360px) {
  html h1 {
    padding-bottom: 8%;
    padding-top: 8%; }
    html h1 img {
      margin-top: -5px;
      right: 10px; }

  a.sound span {
    font-size: 15px; }

  div.footer {
    height: 5%; } }
@media screen and (min-width: 768px) {
  html h1 {
    font-size: 40px;
    padding-bottom: 7%;
    padding-top: 7%; }
    html h1 img {
      margin-top: -50px;
      right: 10px; }

  a.sound {
    width: 20%;
    padding-bottom: 20%; } }
@media screen and (min-width: 980px) {
  html h1 img {
    margin-top: -80px; }

  a.sound {
    width: 10%;
    padding-bottom: 10%; } }
@media screen and (min-width: 1280px) {
  html h1 img {
    margin-top: -85px;
    max-width: 50%; } }
@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans/FiraSans-Regular.eot");
  src: url("../fnt/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Regular.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans-Light.eot");
  src: url("../fnt/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Light.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans-Medium.eot");
  src: url("../fnt/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Medium.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans';
  src: url("../fnt/FiraSans/FiraSans-Bold.eot");
  src: url("../fnt/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fnt/FiraSans/FiraSans-Bold.woff") format("woff"), url("../fnt/FiraSans/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  100% {
    -webkit-transform: translateY(700px);
    opacity: 0; } }

@-moz-keyframes hinge {
  0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  80% {
    -moz-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  100% {
    -moz-transform: translateY(700px);
    opacity: 0; } }

@-ms-keyframes hinge {
  0% {
    -ms-transform: rotate(0);
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  20%, 60% {
    -ms-transform: rotate(80deg);
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  40% {
    -ms-transform: rotate(60deg);
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  80% {
    -ms-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -ms-transform-origin: top left;
    -ms-animation-timing-function: ease-in-out; }

  100% {
    -ms-transform: translateY(700px);
    opacity: 0; } }

@-o-keyframes hinge {
  0% {
    -o-transform: rotate(0);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  20%, 60% {
    -o-transform: rotate(80deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  40% {
    -o-transform: rotate(60deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  80% {
    -o-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  100% {
    -o-transform: translateY(700px);
    opacity: 0; } }

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  100% {
    transform: translateY(700px);
    opacity: 0; } }

.hinge {
  -webkit-animation-name: hinge;
  -moz-animation-name: hinge;
  -ms-animation-name: hinge;
  -o-animation-name: hinge;
  animation-name: hinge; }

.c {
  zoom: 1; }
  .c:before, .c:after {
    content: "";
    display: table; }
  .c:after {
    clear: both; }

.c {
  zoom: 1; }
  .c:before, .c:after {
    content: "";
    display: table; }
  .c:after {
    clear: both; }

body {
  background-color: #0e0e0e;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#0e0e0e));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #282828, #0e0e0e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #282828, #0e0e0e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #282828, #0e0e0e);
  /* IE10 */
  background-image: -o-linear-gradient(top, #282828, #0e0e0e);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #282828, #0e0e0e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#282828', EndColorStr='#0e0e0e');
  color: #1d1e1f;
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto;
  max-height: 100%; }

html body .hidden {
  display: none; }

h1 {
  -webkit-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -ms-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -o-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fafafa;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 14%;
  padding-top: 2%;
  position: relative;
  text-align: center; }
  h1.east {
    background-color: #a1122e;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cf173b), to(#a1122e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #cf173b, #a1122e);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #cf173b, #a1122e);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #cf173b, #a1122e);
    /* IE10 */
    background-image: -o-linear-gradient(top, #cf173b, #a1122e);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #cf173b, #a1122e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#cf173b', EndColorStr='#a1122e'); }
  h1.west {
    background-color: #030e57;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#051688), to(#030e57));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #051688, #030e57);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #051688, #030e57);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #051688, #030e57);
    /* IE10 */
    background-image: -o-linear-gradient(top, #051688, #030e57);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #051688, #030e57);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#051688', EndColorStr='#030e57'); }
  h1 .heading {
    display: inline-block;
    font-size: 14px;
    line-height: 10px;
    margin: 0 auto;
    text-align: center; }
    h1 .heading p {
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #000; }
    h1 .heading .middle {
      font-family: 'Bree Serif', serif;
      font-size: 26px;
      margin: 18px 0 23px;
      text-shadow: 1px 1px 1px #000; }
  h1 menu {
    bottom: 0;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    left: 0;
    margin: 0 auto;
    padding-left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%; }
    h1 menu li {
      -webkit-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
      -moz-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
      -ms-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
      -o-box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
      box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
      cursor: pointer;
      display: inline;
      float: left;
      list-decoration: none;
      padding: 10px 0;
      text-shadow: 1px 1px rgba(10, 10, 10, 0.1);
      width: 25%; }
      h1 menu li.east2013, h1 menu li.east2014 {
        background: #cf173b; }
      h1 menu li.west2013, h1 menu li.west2014 {
        background: #051688; }
      h1 menu li.active {
        text-decoration: underline; }
        h1 menu li.active:hover {
          cursor: default; }

.sounds {
  background: #282828; }

.sound {
  -webkit-box-shadow: inset 0 0 0.8px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: inset 0 0 0.8px rgba(10, 10, 10, 0.1);
  -ms-box-shadow: inset 0 0 0.8px rgba(10, 10, 10, 0.1);
  -o-box-shadow: inset 0 0 0.8px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 0 0.8px rgba(10, 10, 10, 0.1);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-size: 100%;
  box-shadow: 0 0 1px #fafafa;
  display: inline-block;
  float: left;
  height: 0;
  padding-bottom: 25%;
  position: relative;
  text-align: center;
  width: 25%; }
  .sound:hover {
    cursor: pointer; }
  .sound.ng-click-active, .sound.clicked {
    opacity: .7; }
  .sound span {
    color: #fafafa;
    font-size: 10px;
    left: 0;
    margin-top: -25px;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 2px #000;
    bottom: 2%; }

.footer {
  -webkit-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -ms-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  -o-box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 0 1px 1px rgba(10, 10, 10, 0.1);
  bottom: 0;
  height: 2%;
  left: 0;
  position: fixed;
  width: 100%; }
  .footer.east {
    background-color: #a1122e;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cf173b), to(#a1122e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #cf173b, #a1122e);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #cf173b, #a1122e);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #cf173b, #a1122e);
    /* IE10 */
    background-image: -o-linear-gradient(top, #cf173b, #a1122e);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #cf173b, #a1122e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#cf173b', EndColorStr='#a1122e'); }
  .footer.west {
    background-color: #030e57;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#051688), to(#030e57));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #051688, #030e57);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #051688, #030e57);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #051688, #030e57);
    /* IE10 */
    background-image: -o-linear-gradient(top, #051688, #030e57);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #051688, #030e57);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#051688', EndColorStr='#030e57'); }
