@import 'desktop';
@import 'font';
@import 'globals';

$bg: #f0e5e0;
$border-color: #d5d7d8;
$header-bg: lighten(rgb(44, 154, 207), 2%);
$highlight: rgb(252, 143, 42);
$light-text-color: rgb(250, 250, 250);
$shadow: rgba(10, 10, 10, .1);
$text-color: #1d1e1f;

$east: red;
$west: blue;

.c {
    @include clearfix;
}

body {
    background: $bg;
    color: $text-color;
    font-family: 'FiraSans';
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    max-height: 100%;
}

html body .hidden {
    display: none;
}

h1 {
    @include box-shadow(0 0 1px 1px $shadow);
    @include linear-gradient($header-bg, darken($header-bg, 10%));
    color: $light-text-color;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 2% 0 14% 5%;
    position: relative;
    text-align: center;

    .heading {
        display: inline-block;
        font-size: 16px;
        line-height: 12px;
        margin: 0 auto;
        text-align: center;

        p {
            text-transform: uppercase;
        }
    }
    menu {
        bottom: 5%;
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
        left: 0;
        margin: 0 auto;
        margin-bottom: -10px;
        padding-left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        width: 100%;

        li {
            @include box-shadow(inset 0 1px 1px $shadow);
            cursor: pointer;
            display: inline;
            float: left;
            list-decoration: none;
            padding: 10px 0;
            width: 25%;

            &.east2013, &.east2014 {
                background: $east;
            }
            &.west2013, &.west2014 {
                background: $west;
            }
        }
    }
}

.sound {
    @include box-shadow(inset 0 1px 1px $shadow);
    @include transition(background .2s);
    background: $bg;
    border: -1px solid $border-color;
    display: inline-block;
    float: left;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    position: relative;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
    &.ng-click-active, &.clicked {
        background: $highlight;
    }
    span {
        font-size: 13px;
        left: 0;
        right: 0;
        margin-top: -8px;
        position: absolute;
        top: 50%;
    }
}

.footer {
    @include box-shadow(0 0 1px 1px $shadow);
    @include linear-gradient($header-bg, darken($header-bg, 10%));
    bottom: 0;
    height: 2%;
    left: 0;
    position: fixed;
    width: 100%;
}
