@media screen and (min-width: 360px) {
  html h1 {
    padding-bottom: 8%;
    padding-top: 8%; }
    html h1 img {
      margin-top: -5px;
      right: 10px; }

  a.sound span {
    font-size: 15px; }

  div.footer {
    height: 5%; } }
@media screen and (min-width: 768px) {
  html h1 {
    font-size: 40px;
    padding-bottom: 7%;
    padding-top: 7%; }
    html h1 img {
      margin-top: -50px;
      right: 10px; }

  a.sound {
    width: 20%;
    padding-bottom: 20%; } }
@media screen and (min-width: 980px) {
  html h1 img {
    margin-top: -80px; }

  a.sound {
    width: 10%;
    padding-bottom: 10%; } }
@media screen and (min-width: 1280px) {
  html h1 img {
    margin-top: -85px;
    max-width: 50%; } }
