<!DOCTYPE html>
<html ng-app='OzamatazApp' manifest='/.cache.manifest'>
<head>
    <title>Ozamataz</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="media/img/favicon.ico">
    <link rel="stylesheet" href="media/css/base.css"/>

    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <script src="media/js/lib/angular.min.js"></script>
    <script src="media/js/lib/angular-touch.js"></script>
    <script src="media/js/lib/jquery.min.js"></script>
</head>

<body ng-controller="MainCtrl">
  <h1 ng-class="{'east': isEast, 'west': isWest}">
    <div class="heading">
      <p class="top">annual east/west</p>
      <p class="middle">{{ isEast ? 'east' : 'west' }} {{ is2013 ? 2013 : 2014 }}</p>
      <p class="bottom">collegiate bowl</p>
    </div>
    <menu class="c">
      <li class="{{ navItem[0] }}" ng-class="{'active': navItem[0] == activeSounds}"
          ng-repeat="navItem in soundsNav" ng-click="$parent.activeSounds = navItem[0]">
        {{ navItem[1] }}
      </li>
    </menu>
  </h1>

  <div class="sounds c">
    <a class="sound" style="background-image: url('media/img/roster/{{ sound[1] }}.png');"
       ng-class="{'east': isEast, 'west': isWest}"
       ng-repeat="sound in sounds[activeSounds]" ng-click="play($event)">
      <span>{{ sound[0] }}</span>
      <audio src="{{ 'media/snd/wav/' + sound[1] + '.wav' }}" preload="auto"></audio>
    </a>
  </div>

  <div class="footer" ng-class="{'east': isEast, 'west': isWest}">&nbsp;</div>

  <script src="media/js/app.js"></script>
</body>
</html>
